* {
    padding: 0;
    margin: 0;
    border: 0;
}

body{
    background-color: #E9EBEE;

    header{
        background-color: #4267B2;
        border-bottom: 1px solid #29487D;
        height: 60px;
    }

    h1{
        color: #fff;
        text-align: center;
        line-height: 55px;
        font-size: 20px;
    }
}